<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template.html :: header('Social Network', false)"></head>

<body>
<div th:replace="template.html :: navbar" ></div>

<div th:replace="template.html :: jumbotron" ></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Comfirm OTP</h1>
            <p>OTP code has been sent to email</p>
            <div class="form-group">
                <form th:action="@{/comfirmOTP}"  method="POST">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <!-- Check for registration error -->
                                <div th:if="${comfirmOTPError}" style="color: red">
                                    <p th:text="${error}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="otp_email">
                            <span>Email</span>: <input type="text" th:value="${email}" name="email" class="form-control" id="otp_email" readonly />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="otp">
                            <span>OTP</span>: <input type="text"  name="otp" class="form-control" id="otp" required/>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Comfirm" class="btn btn-lg btn-success"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr/>
</div>

<div th:replace="template.html :: footer"></div>

</body>
</html>