<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template.html :: header('Settings', true)"></head>

<body th:with="user=${session.user}">

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu('settings')" ></div>

        <div class="col-md-9">
            <h2 th:text="#{settings.avatar}">Your avatar.</h2>
            <div class="profile-block">
                <div>
                    <div class="image-drop border-dotted" ondrop="dragAndDrop(event)" ondragover="dragEnter(event)"
                         ondragenter="dragEnter(event)" ondragleave="dragLeave(event)">
                        <p class="drop-text" th:text="#{settings.drop.image}">Drop your image here.</p>
                    </div>
                    <div class="btn-vertical">
                        <button class="btn btn-lg btn-success btn-left" th:text="#{settings.update.avatar}">Update avatar</button>
                        <p style="color:red; margin-left: 50px" th:value="${imageError}"></p>
                    </div>
                    <div class="image-right">
                        <div class="card">
                            <img th:if="${user.avata != null}" class="img-circle img-thumbnail social-img"
                                 th:src="${user.avata}" alt="Your profile image">
                            <img th:unless="${user.avata != null}" class="img-circle img-thumbnail social-img"
                                 th:src="@{/images/noname.svg}" alt="Your profile image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-block">
                <h2 th:text="#{settings.your.profile}">Your profile.</h2>
                <!-- Check for registration error -->
                <div th:if="${updateError}" style="color:red">
                    <p th:text="${error}"></p>
                </div>
                <form th:action="@{/user/settings}" th:object="${user}" action="/user/settings" method="post">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="firstName"><span >User name</span>: <input type="text" name="userName" class="form-control"
                                                                          th:value="${user.userName}"
                                                                          id="firstName"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="datepicker"><span th:text="#{birth.date}">Birth date</span>:
                                    <input type="text" size="30" class="form-control" name="birthday"
                                           th:value="${user.birthday}"
                                           id="datepicker">
                                </label>
                            </div>
                            <div class="list-group-item"><span th:text="#{gender}">Gender</span>:
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="Male" th:checked="${user.sex.equals('MALE')}">
                                    <span th:text="#{gender.male}">Male</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex"  value="Female" th:checked="${user.sex.equals('FEMALE')}">
                                    <span th:text="#{gender.female}">Female</span>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="phone"><span th:text="#{phone}">Phone</span>: <input type="text" name="phone" class="form-control"
                                                                 th:value="${user.phone}"
                                                                 id="phone"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="address"><span >Address</span>: <input type="text" name="address" class="form-control"
                                                                                                 th:value="${user.address}"
                                                                                                 id="address"/>
                                </label>
                            </div>
                            <div class="list-group-item">
                                <label for="job"><span >Job</span>: <input type="text" name="job" class="form-control"
                                                                                                     th:value="${user.job}"
                                                                                                     id="job"/>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${user.id}" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-success"><span th:text="#{settings.change.profile}">Change profile</span></button>
                </form>
            </div>
            <div class="profile-block">
                <h2>Change password</h2>
                <form th:action="@{/user/updatePassword}" th:object="${passwordChangeDTO}" action="/user/updatePassword" method="POST">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="oldPassword">
                                    <span th:text="#{settings.old.password}">Old Password</span>:
                                    <input type="password"
                                           name="oldPassword"
                                           class="form-control"
                                           id="oldPassword"/>
                                </label>
                                <div th:if="${passwordError}" style="margin-bottom: 10px" class="text-danger">
                                    <p th:text="${error}">You entered wrong old password</p>
                                </div>
                                <div th:if="${#fields.hasErrors('oldPassword')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('oldPassword')}" th:text="'Old password: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label for="password">
                                    <span th:text="#{settings.new.password}">New Password</span>:
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           id="password"/>
                                </label>
                                <div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('password')}" th:text="'Password: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label for="passwordConfirmation">
                                    <span th:text="#{settings.repeat.password}">Repeat Password</span>:
                                    <input type="password"
                                           name="passwordConfirmation"
                                           class="form-control"
                                           id="passwordConfirmation"/>
                                </label>
                                <div th:if="${#fields.hasErrors('passwordConfirmation')}" style="margin-bottom: 10px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('passwordConfirmation')}" th:text="'Password confirmation: ' + ${err}" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success" th:text="#{settings.change.password}">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="template.html :: footer"></div>

<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/profile.js" th:src="@{/js/profile.js}"></script>
<script th:inline="javascript">
    /* <![CDATA[ */
    // Kiểm tra nếu giá trị exportMess được truyền từ controller
    var mess = /*[[${updateSuccess}]]*/ null;

    console.log("Giá trị của mess:", mess);

    if (mess !== null && mess !== undefined && mess != "") {
        // Hiển thị cảnh báo
        alert(mess);
    }
    /* ]]> */
</script>
</body>
</html>