<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template.html :: header('Status', true)"></head>

<body>

<div th:replace="template.html :: navbar" ></div>
<hr/>

<div class="container">
    <div class="row">
        <div th:replace="template.html :: menu('status')" ></div>

        <div class="col-md-9">
            <div class="profile-block">
                <h2 th:text="${isEdit == 'true'} ? 'Edit Status':'New Status'"></h2>
                <!-- Check for registration error -->
                <div th:if="${error}" style="color:red">
                    <p th:text="${error}"></p>
                </div>
                <form th:action="${isEdit == 'true' ? '/user/status/edit/' : '/user/status/add'}"
                      th:object="${status}" method="POST" enctype="multipart/form-data">
                    <input type="hidden"  name="id" th:value="${status.id}">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <div class="list-group-item">
                                <label for="title">
                                    <span>Title</span>:
                                    <input type="text" th:field="*{title}" class="form-control" id="title" th:value="${status.title}" required />
                                </label>
                                <div th:if="${#fields.hasErrors('title')}" style="margin-bottom: 25px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label for="content">
                                    <span>Content</span>:
                                    <textarea name="content" th:field="*{content}" class="form-control" rows="6" cols="22" id="content" th:value="${status.content}" required></textarea>
                                </label>
                                <div th:if="${#fields.hasErrors('content')}" style="margin-bottom: 25px" class="text-danger">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('content')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label>
                                    <span>Status image   : </span><br/><input type="file" id="imageStatus" name="imageStatus" accept="image/*">
                                </label>
                                <br/>
                                <div>
                                    <div class="card">
                                        <img th:if="${status.statusImage != null}" class="img-circle img-thumbnail social-img" id="selectedImage"
                                             th:src="${status.statusImage}" alt="Your profile image">
                                        <img th:unless="${status.statusImage != null}" class="img-circle img-thumbnail social-img" id="selectedImage"
                                             th:src="@{/images/noname.svg}" alt="Your profile image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success"><span th:text="${isEdit == 'true' ? 'Edit Submit' : 'Add Status'}"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="template.html :: footer"></div>

<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script>
    document.getElementById('imageStatus').addEventListener('change', function(event) {
        var selectedFile = event.target.files[0];
        var selectedFilePath = URL.createObjectURL(selectedFile);

        document.getElementById('selectedImage').src = selectedFilePath;
    });
</script>
</body>
</html>