<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, csrf)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:if="${csrf}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Social Network</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>

</head>
<body>

<div class="navbar navbar-custom  navbar-fixed-top" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="#{header}">Social Network</a>
        </div>
        <div class="navbar-collapse collapse">
            <form id="loginForm" class="navbar-form navbar-right" onsubmit="validateForm()">
                <div class="form-group">
                    <input id="email_login" name="email" type="text" placeholder="Email" class="form-control login_email">
                </div>
                <div class="form-group">
                    <input id="password_login" name="password" type="password" placeholder="Password" class="form-control login_password">
                </div>
                <button type="submit" class="btn btn-success " th:text="#{login}">Login</button>
                <button type="button" class="btn btn-success " onclick="forgotPassword()">Forgot Password</button>
            </form>
        </div>
    </div>
</div>
<hr/>

<div class="jumbotron" th:fragment="jumbotron">
    <div class="container">
        <h1 th:text="#{index.intro}">Social network facilities:</h1>
        <ul class="list-inline">
        </ul>
        <hr/>
        <p th:text="#{index.join.today}">Join social networks and chat with friends, make new friends.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" th:fragment="menu">
            <div class="sidebar-header"></div>

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{menu.user.menu}">User menu</h3>
                </div>
                <div class="list-group">
                    <a th:href="@{/user/profile}" class="list-group-item" th:text="#{menu.profile}">Profile</a>
                    <a th:href="@{/user/messages}" class="list-group-item" th:text="#{menu.messages}">Messages</a>
                    <a th:href="@{/user/friends}" class="list-group-item" th:text="#{menu.friends}">Friends</a>
                    <a th:href="@{/user/users}" class="list-group-item" th:text="#{menu.users}">Users</a>
                    <a th:href="@{/user/settings}" class="list-group-item" th:text="#{menu.settings}">Settings</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:fragment="footer">
    <footer >
        <footer>
            <p th:text="#{footer.copyright}">&copy; All rights reserved</p>
        </footer>
    </footer>
    <script>
        function validateForm() {
            var email = document.getElementById("email_login").value;
            var password = document.getElementById("password_login").value;
            var emailRegex = /^[a-zA-Z0-9_]+@[a-zA-Z0-9]+\\.[a-zA-Z]{2,}$/
            if (email.trim() === "") {
                // Email is empty, show an alert or error message
                alert("Please enter a valid email.");
                return; // Prevent form submission
            }
            if (emailRegex.test(email)) {
                alert("Email format is not correct example@examle.com, example@examle.co,...");
                return
            }
            var data = {
                email: email,
                password: password
            };
            // Define the URL to submit the form data to
            var url = "/login";
            // Define the method (POST in this case)
            var method = "POST";

            // Send AJAX request
            $.ajax({
                type: method,
                url: url,  // Replace with your actual endpoint
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    // Handle success, if needed
                    console.log(response);
                },
                error: function(error) {
                    // Handle error, if needed
                    console.error(error);
                }
            });
        }

        function forgotPassword() {
            // Perform actions for the "Forgot Password" button click
            // For example, show a modal or navigate to a forgot password page
            alert("Forgot Password clicked!");
        }
    </script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/validation.js" th:src="@{/js/validation.js}"></script>
</div>

</body>
</html>